@{
  Layout = "_Layout";
}

@using GroomingShop.Models;

<h2>All Pets</h2>


@if (@Model.Count == 0)
{
  <h3>No pets have been added yet!</h3>
} 

<ul class="capsule-list">
  @foreach(Pet pet in Model)
  {
    <li>
      <div><span>@pet.Name</span> <span>@pet.JoinEntities[0].Parent.LastName</span></div>
      <div>@pet.Breed</div>
      <div>
          
      </div>
      
      <a href='@Url.Action("Details", new { id = pet.PetId })'>
        <button>View Details</button>
      </a>
    </li>
  }
</ul>

<a href='@Url.Action("Index", "Home")'>
  <button>Home</button>
</a>