@{
  Layout = "_Layout";
}

@model GroomingShop.Models.Appointment

<h2>New appointment for @ViewBag.Employee.Position @ViewBag.Employee.FirstName @ViewBag.Employee.LastName</h2>


@using (Html.BeginForm())
{
  <input hidden name="employeeId" value=@ViewBag.Employee.EmployeeId>
  <div class="form-column">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.Date)</span>
      <span>@Html.TextBoxFor(model => model.Date, new { @type="date"} )</span>
    </div>
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.StartTime, "Start Time")</span>
      <span>@Html.TextBoxFor(model => model.StartTime, new { @type="time"} )</span>
    </div>
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.Duration, "Duration")</span>
      <span>@Html.TextBoxFor(model => model.Duration, new { @type="number"} ) minutes</span>
    </div>
  </div>
  <div class="form-row">
    <span>Parent</span>
    <span>@Html.DropDownList("parentId")</span>
  </div>
  <div class="form-row">
    <span>Pet</span>
    <span>@Html.DropDownList("petId")</span>
  </div>
  <button class="green" type="submit">Add Appointment</button>
  <div class='@($"error-message {@ViewBag.ClassName}")'>@ViewBag.ErrorMessage</div>
}

<a href='@Url.Action("Index")'>
  <button>Back To List</button>
</a>