@{
  Layout = "_Layout";
}

@model GroomingShop.Models.Appointment

<h2>New appointment for @ViewBag.Groomer.Role @ViewBag.Groomer.FirstName @ViewBag.Groomer.LastName</h2>


@using (Html.BeginForm())
{
  <input hidden name="groomerId" value=@ViewBag.Groomer.GroomerId>
  <div class="form-column">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.Date)</span>
      <span>@Html.TextBoxFor(model => model.Date, new { @type="date"} )</span>
    </div>
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.StartTime, "Start Time")</span>
      <span>@Html.TextBoxFor(model => model.StartTime, new { @type="time"} )</span>
    </div>
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.EndTime, "End Time")</span>
      <span>@Html.TextBoxFor(model => model.EndTime, new { @type="time"} )</span>
    </div>
  </div>
  <div class="form-row">
    <span>Parent</span>
    <span>@Html.DropDownList("parentId")</span>
  </div>
  <div class="form-row">
    <span>Pet</span>
    <span>@Html.DropDownList("petId")</span>
  </div>
  <button class="green" type="submit">Add Appointment</button>
}

<a href='@Url.Action("Index")'>
  <button>Back To List</button>
</a>