@{
  Layout = "_Layout";
}

@model GroomingShop.Models.Employee

<h2>Add a new employee</h2>


@using (Html.BeginForm())
{
  <div class="form-row">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.Position, "Position")</span>
      <span>@Html.TextBoxFor(model => model.Position)</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.FirstName, "First Name")</span>
      <span>@Html.TextBoxFor(model => model.FirstName)</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.LastName, "Last Name")</span>
      <span>@Html.TextBoxFor(model => model.LastName)</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.HireDate, "Hire Date")</span>
      <span>@Html.TextBoxFor(model => model.HireDate, new { @type="date"} )</span>
    </div>
  </div>
  <div class="form-row">
    <div class="form-text-input-area">
      <span>@Html.LabelFor(model => model.Notes, "Notes")</span>
      <span>@Html.TextAreaFor(model => model.Notes)</span>
    </div>
  </div>
  <button class="green" type="submit">Add New Employee</button>
}

<a href='@Url.Action("Index")'>
  <button>Back To List</button>
</a>